body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.pem.cam.ac.uk/sites/default/files/hero/e81a7985_1.jpg");
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}